.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tabelle senza bordi visibili */
.table-no-border {
  border-collapse: collapse; /* Assicura un layout senza spazi tra celle */
}

.table-no-border th,
.table-no-border td {
  border: none !important; /* Rimuove i bordi di default */
}

/* Stile per la lista simulata */
.leaderboard {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr; /* 4 colonne di larghezza */
  gap: 0.5rem; /* Spaziatura tra righe */
}

.leaderboard-header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr; /* Stessa struttura delle righe */
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #555;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e9ecef; /* Linea separatrice per l'intestazione */
}

.leaderboard-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr; /* Stessa struttura delle colonne */
  padding: 0.5rem 0;
  border-bottom: 1px solid #e9ecef; /* Leggera linea separatrice */
}

.leaderboard-row:last-child {
  border-bottom: none; /* Rimuove la linea per l'ultimo elemento */
}



