.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.p-panel {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-inputtext, .p-password {
  width: 100%;
  padding: 8px;
}

.p-button {
  font-size: 16px;
}
